# development
NODE_ENV=
PORT=8000

# mongodb:
MONGODB_URI=
MONGODB_SERVER_SELECTION_TIMEOUT_MS=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_ALGORITHM=

JWT_INVITE_SECRET=
JWT_INVITE_EXPIRES_IN=

# bcrypt
BCRYPT_SALT_ROUNDS=

# admin credentials : 
ADMIN_EMAIL=
ADMIN_PASSWORD=

# SMTP :
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=

SMTP_USER=
SMTP_PASS=
MAIL_FROM_NAME=