# development
NODE_ENV=
PORT=8000

# mongodb:
MONGODB_URI=
MONGODB_SERVER_SELECTION_TIMEOUT_MS=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Multer 
BYTES_PER_MEGABYTE=
MAX_FILE_SIZE_MB=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_ALGORITHM=

JWT_INVITE_SECRET=
JWT_INVITE_EXPIRES_IN=

# bcrypt
BCRYPT_SALT_ROUNDS=

# admin credentials : 
ADMIN_EMAIL=
ADMIN_PASSWORD=

# SMTP :
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=

SMTP_USER=
SMTP_PASS=
MAIL_FROM_NAME=

# application
APP_BASE_URL=http://localhost:8000
EMAIL_VERIFICATION_EXPIRES_IN_MS=86400000
PASSWORD_RESET_EXPIRES_IN_MS=3600000
COMPANY_APPROVAL_CONFIRMATION_EXPIRES_IN_MS=86400000
AUTH_SESSION_EXPIRES_IN_MS=604800000
